{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ crypto.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <canvas id="result_chart"></canvas>
        <br>
        {{ high }}
        {{ low }}
        <div class="card text-center">
            <div class="card-header">
                <img src="https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/icon/{{ crypto.short_name|lower }}.png">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ crypto.name }}</h5>
            </div>
            <div class="card-footer text-muted">
                Correlation data has not been calculated yet. Please check later.
            </div>
        </div>
    </div>
{% endblock %}

