{% extends 'base.html' %}
{% block content %}
<div align="center">
<div class="jumbotron">
  <h1>Cryptocial</h1>
  <p>Cryptocurrency-tweeter sentiment analysis - lead-lag correlation analyzer.</p>
</div>
<div class="panel panel-default">
  <div class="panel-body">

    {% if cr_list %}
    {% for crypto in cr_list %}
    <a href="{% url 'main:detail' crypto.id %}" >
      <img src="https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/icon/{{ crypto.short_name|lower }}.png">
    </a><br>
      <a href="{% url 'main:detail' crypto.id %}" >{{crypto.name}}</a><br>
    {% endfor %}
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
